registry=https://registry.npmjs.org/
save-prefix=~
ca=
//registry.npmjs.org/:_password=RWRkXm9vcGhbdEhv
//registry.npmjs.org/:username=scamden
//registry.npmjs.org/:email=rusty.camden@gmail.com
//registry.npmjs.org/:always-auth=true