.pin-to-edges {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.grid-row:nth-of-type(odd) {
  .grid-cell {
    background: transparent;
  }
}

.grid-row:nth-of-type(even) {
  .grid-cell {
    background: #f7f7f7;
  }
}

.odds {
  .grid-row:nth-of-type(odd) {
    .grid-cell {
      background: #f7f7f7;
    }
  }

  .grid-row:nth-of-type(even) {
    .grid-cell {
      background: transparent;
    }
  }
}

.grid-cell {
  border: 1px solid #eee;
  padding: 3px 5px;

  &.focus {
    border: 2px solid green;
    z-index: 1;
  }
}

.grid-row {
  &:hover .grid-cell {
    background-color: transparentize(green, .8) !important;
  }

  //header row
  &:nth-of-type(1) {
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.6);
    z-index: 2;
    margin-top: -1px;

    //header cell
    .grid-cell {
      background: #f7f3f3 !important;
    }

  }

  .grid-cell:nth-of-type(3) {
    border-right-width: 3px;
  }
}

.grid-scroll-bar {
  //the decorator will take care of the sizing
  @extend .pin-to-edges;
  border-radius: 6px;
  background: rgba(0, 0, 0, .5);
}