.pin-to-edges {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.odds {
  .cell {
    &.odd {
      background: #f7f7f7;
    }

    &.even {
      background: white;
    }

  }
}

.grid-cell {
  border: 1px solid #eee;
}

.grid-row {
  &:hover .grid-cell {
    background-color: transparentize(green, .8);
  }
}

.grid-scroll-bar {
  //the decorator will take care of the sizing
  @extend .pin-to-edges;
  border-radius: 6px;
  background: rgba(0, 0, 0, .5);
}

.cell {
  &.even {
    background: #f7f7f7;
  }
  &.odd {
    background: white;
  }
}