.pin-to-edges {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.odds {
  .cell {
    &.odd {
      background: #f7f7f7;
    }

    &.even {
      background: white;
    }

  }
}

.grid-cell {
  border: 1px solid #eee;
}

.cell {
  &.even {
    background: #f7f7f7;
  }
  &.odd {
    background: white;
  }
}