a {
  color: #add8e6;
}

.pin-to-edges {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.grid-row:nth-of-type(odd) {
    background: white;
}

.grid-row:nth-of-type(even) {

    background: #f7f7f7;

}

.odds {
  .grid-row:nth-of-type(odd) {

      background: #f7f7f7;
    }


  .grid-row:nth-of-type(even) {

      background: white;
    }

}

.grid-cell {
  border: 1px solid #eee;
  padding: 3px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.focus {
    background: white !important;
  }
}

.grid-focus-decorator {
  border: 2px solid green;
  z-index: 1;
}

.grid-row {
  &.hover {
    background-color: lighten(green, 50) !important;
  }

  //header row
  &.grid-is-header {
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.6);
    z-index: 2;
    margin-top: -1px;

    //header cell
    .grid-cell {
      background: #f7f3f3 !important;
    }

  }

  .grid-cell.grid-row-header {
    background: #f7f3f3 !important;
  }

  .grid-cell.grid-last-fixed-col {
    border-right-width: 3px;
  }

  .grid-cell.grid-last-fixed-row {
    border-bottom-width: 3px;
  }
}

.grid-decorators {
  z-index: 1;
}

.grid-scroll-bar {
  //the decorator will take care of the sizing
  @extend .pin-to-edges;
  border-radius: 6px;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
}

.grid-selection {
  $darkYellow: darken(yellow, 10);
  border: 2px solid $darkYellow;
  background: transparentize($darkYellow, .5);
}

.col-resize {
  pointer-events: all;
  width: 15px;
  text-align: center;
  cursor: col-resize;
  z-index: 20;

  &:hover:after {
    visibility: visible;
  }

  &:after {
    content: '';
    background: hotpink;
    display: inline-block;
    height: 100%;
    visibility: hidden;
    width: 5px;
  }

}

.grid-reorder-target {
  background: black;
  z-index: 10000;
}

.grid-drag-rect {
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.grid-reorder-target {
  border-left: 1px solid black;
  &.right {
    border-right: 1px solid black;
    border-left: none;
  }
}

.grid-header-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.show-hidden-cols {
  width: 15px;
  text-align: center;
  z-index: 21;
  &:after {
    content: "< >";
    font-size: 10px;
    background: gray;
    border-radius: 3px;
  }
}
