$grid-teal: #39CCCC;
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #111;
}

a {
  color: darken($grid-teal, 10);
  cursor: pointer;
}

.pin-to-edges {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.grid-row:nth-of-type(odd) {
  background: white;
}

.grid-row:nth-of-type(even) {
  background: #f7f7f7;
}

.odds {
  .grid-row:nth-of-type(odd) {
    background: #f7f7f7;
  }
  .grid-row:nth-of-type(even) {
    background: white;
  }
}

.grid-cell {
  border: 1px solid #eee;
  padding: 3px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  &.focus {
    background: white !important;
  }
}

.grid-focus-decorator {
  border: 1px solid $grid-teal;
  z-index: 1;
}

.grid-row {
  &.hover:not(.grid-is-header) {
    background-color: lighten($grid-teal, 30) !important;
    .grid-cell:not(.grid-header) {
      border-color: $grid-teal;
    }
    &+.grid-row {
      .grid-cell:not(.grid-header) {
        border-top-color: $grid-teal;
      }
    }
  } //header row
  &.grid-is-header {
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    margin-top: -1px; //header cell
    .grid-cell {
      background: #f7f7f7 !important;
    }
  }
  .grid-cell.grid-row-header {
    background: #f7f7f7 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      transition: transform 100ms linear;
    }
    &.grid-expanded {
      a {
        transform: rotate(90deg);
      }
    }
  }
  .grid-cell.grid-last-fixed-col {
    border-right-width: 3px;
  }
  .grid-cell.grid-last-fixed-row {
    border-bottom-width: 3px;
  }
}

.grid-decorators {
  z-index: 1;
}

.grid-scroll-bar {
  //the decorator will take care of the sizing
  @extend .pin-to-edges;
  border-radius: 6px;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
}

.grid-selection {
  border: 1px solid $grid-teal;
  background: transparentize($grid-teal, .8);
}

.col-resize {
  pointer-events: all;
  width: 15px;
  text-align: center;
  cursor: col-resize;
  z-index: 20;
  &:hover:after {
    visibility: visible;
  }
  &:after {
    content: '';
    background: #7FDBFF;
    display: inline-block;
    height: 100%;
    visibility: hidden;
    width: 5px;
  }
}

.grid-drag-line {
  background: #7FDBFF;
}

.grid-drag-rect {
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.grid-reorder-target {
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  &.right {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-left: none;
  }
}

.grid-header.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.show-hidden-cols {
  width: 17px;
  text-align: center;
  z-index: 21;
  &:after {
    content: "< >";
    display: block;
    font-size: 9px;
    background: #DDD;
    color: #666;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
}